 <footer class="section footer-classic context-dark bg-image" style="background:#E9ECEF;">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4">
          <a class="brand" href="index.html"><img class="brand-logo-light"
              src="images/agency/logo-inverse-140x37.png" alt="" width="140" height="37"
              srcset="images/agency/logo-retina-inverse-280x74.png 2x"></a>
          <p>The library is the temple of learning, and learning has liberated more people than all the wars in history
          </p>
           Rights
           <p class="rights"><span>©  </span><span
              class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All
              Rights Reserved.</span></p>
        </div> 
       </div>
      <div class="col-md-4">
        <h5><b>Contacts</b></h5>
        <dl class="contact-list">
          <dt>Address:</dt>
          <dd>798 South Park Avenue, Jaipur, Raj</dd>
        </dl>
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="#">college@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">https://college.com</a>
          </dd>
        </dl>
      </div>  
       <div class="col-md-4 col-xl-3">
        <h5><b>Links</b></h5>
        <ul class="nav-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Pricing</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer> 