<div>
  <div class="container py-5">
    <div class="card" style="width: 600px; margin: auto;">
      <div class="card-header bg-primary text-white">
        <h4 class="text-uppercase text-center">Request Info</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12">

            <form #requestStatusInfo="ngForm" (ngSubmit)="getRequestStatusInfo(requestStatusInfo)" method="GET">
              <div class="form-group">
                <div class="form-group mt-2">
                  <label for="id">Id</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="fa fa-user"></i>
                      </span>
                    </div>
                    <input class="form-control" type="number" name="id" #id="ngModel" ngModel required
                      placeholder="Enter Student Id ">
                    <div *ngIf="id.invalid && id.touched">
                      <p *ngIf="id.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="id.errors.minlength" class="text-danger">*This field accepts minimum
                          3 characters
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button type="submit" [disabled]="requestStatusInfo.invalid"
                    class="btn btn-outline-primary rounded-0 float-right"><i class="fas fa-info"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLE -->
    <div class="container ">
      <table class="table table-bordered mt-2 table-hover " style="border-style: solid; border-width: 1px;">
        <thead>
          <tr class="text-center text-dark">
            <th>Book ID</th>
            <th>Student ID</th>
            <th>Transaction ID</th>
            <th>Registration ID</th>
            <th>Issue Date</th>
            <th>Return Date</th>
            <th>Fine</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions" class="text-center text-info">
            <td>{{transaction.bookId}}</td>
            <td>{{transaction.id}}</td>
            <td>{{transaction.transactionId}}</td>
            <td>{{transaction.registrationId}}</td>
            <td>{{transaction.issueDate}}</td>
            <td>{{transaction.returnDate}}</td>
            <td>{{transaction.fine}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  <!-- </div> -->
<!-- </div> -->